
@media (max-width: 800px){
  .header__logo{
    position: absolute;
    right: 80px;
  }
  .header__search{
    margin-left: 0;
  }
  .container{
    padding: 0 5px;
  }
  .header__menu-list{
    display: none;
    position: absolute;
    top: 43px;
    background-color: #040B04;
    z-index: 2;
    padding: 10px;
    border-radius: 10px;
    li{
      display: block;
    }
    li + li{
      margin-top: 10px;
      margin-left: 0;
    }
  }
  .options{
    display: block;
    margin-left: 20px;
  }
  .header{
    position: relative;
  }
  .header__menu{
    margin-bottom: 25px;
  }
  .header__wrapper{
    position: absolute;
    top: 15px;
    right: 30px;
    .btn-burger{
      position: absolute;
      right: 0;
      margin-right: 0;
    }
    .header-dropdown{
      left: -175px;
    }
  }
}
@media (max-width: 400px){
  .header__logo {
    right: 75px;
    position: absolute;
    a{
      font-size: 14px;
      color: rgba(255,255,255,.6);
      text-decoration: none;
    }
    span{
      font-size: 10px;
    }
  }
  .header__basket-item{
    font-size: 13px;
  }
}